@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.body{
    background-color: #242062;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    padding: 40px;
    border-radius: 10px;
}
.form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form form link{
    margin: 20px;
    background-color: #f16622;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 60%;
    
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.btn-cadastrar{
   
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: #242062;
    border: none;
    width: 80%;
    color: #fff;
    height: 30px;
    padding: 13px;
    border-radius: 10px;
}

